<div class="container text-center mt-1 mb-2">
  <a
    class="social"
    href="https://github.com/AbduazizZiyodov"
    target="_blank"
    mdbBtn
    type="button"
    color="elegant"
    mdbWavesEffect
    ><mdb-icon size="2x" fab icon="github"></mdb-icon
  ></a>
  <a
    class="social"
    href="https://t.me/AbduazizZiyodov"
    mdbBtn
    type="button"
    color="cyan"
    mdbWavesEffect
    ><mdb-icon size="2x" fab icon="telegram"></mdb-icon
  ></a>
  <a
    class="social"
    href="https://www.linkedin.com/in/abduaziz-ziyodov/"
    target="_blank"
    mdbBtn
    type="button"
    gradient="purple"
    mdbWavesEffect
  >
    <mdb-icon size="2x" fab icon="linkedin"></mdb-icon>
  </a>
</div>
<footer class="fixed-bottom page-footer indigo text-white">
  <div class="container mb-1">
    <div class="row text-center">
      <div class="col-md-12 p-1">
        © 2021 Copyright:
        <a href="#">
          by Abduaziz Ziyodov <br />
          <mdb-icon class="red-text" size="2x" fab icon="angular"></mdb-icon> +
          <mdb-icon class="amber-text" size="2x" fab icon="python"></mdb-icon
        ></a>
      </div>
    </div>
  </div>
</footer>
