<div class="container my-5 log-form">
  <div class="row p-3">
    <div class="col-md">
      <form
        class="p-5 z-depth-1"
        data-aos="flip-up"
        [formGroup]="loginForm"
        (submit)="submit()"
      >
        <div class="text-center">
          <mdb-icon
            style="color: #ff3547"
            fas
            icon="user-astronaut"
            size="5x"
            class="mb-2"
          ></mdb-icon>
        </div>
        <p class="h2 mb-4 text-center" style="font-weight: bold">Login</p>

        <div class="alert {{ type }} text-center" role="alert">
          {{ message }}
        </div>
        
        <div class="md-form form-sm">
          <mdb-icon fas icon="user-alt" class="prefix"></mdb-icon>
          <input
            mdbInput
            type="text"
            id="username_form"
            class="form-control form-control-sm"
            formControlName="username"
            mdbInput
          />
          <mdb-error
            *ngIf="username.invalid && (username.dirty || username.touched)"
          ></mdb-error>
          <mdb-success
            *ngIf="username.valid && (username.dirty || username.touched)"
          ></mdb-success>
          <label for="username_form" class="">Username</label>
        </div>
        <div class="md-form form-sm">
          <mdb-icon fas icon="key" class="prefix" size="1x"></mdb-icon>
          <input
            mdbInput
            type="password"
            id="pwd_form"
            class="form-control form-control-sm"
            formControlName="password"
            mdpInput
          />
          <mdb-error
            *ngIf="password.invalid && (password.dirty || password.touched)"
          ></mdb-error>
          <mdb-success
            *ngIf="password.valid && (password.dirty || password.touched)"
          ></mdb-success>
          <label for="pwd_form" class="">Password</label>
        </div>
        <button mdbBtn color="danger" class="my-4 btn-block" type="submit">
          <span class="spinner-border spinner-border-sm" *ngIf="loading" role="status" aria-hidden="true"></span>Login
        </button>
        <div class="text-center">
          Don't have an account yet?
          <a routerLink="/register">Register 😁</a>
        </div>
      </form>
    </div>
  </div>
</div>
